
<div class="commands-container" id="commands-active">
    <div class="commands-power"><a href="/ranking">Lose</a></div>
    <div class="commands-move" onpointerout="input.buttonRelease()" onpointerup="input.buttonRelease()">
        <div class="move-up"><img src="images/triangle-purple.svg" alt="" onpointerdown="input.buttonDirection('UP')"></div>
        <div class="move-down"><img src="images/triangle-purple.svg" alt="" onpointerdown="input.buttonDirection('DOWN')"></div>
        <div class="move-right"><img src="images/triangle-purple.svg" alt="" onpointerdown="input.buttonDirection('RIGHT')"></div>
        <div class="move-left"><img src="images/triangle-purple.svg" alt="" onpointerdown="input.buttonDirection('LEFT')"></div>
        <div class="move-circle"></div>
    </div>
</div>