
<div class="keyboard-control">
    <br>
    Keyboard Controls:
    <ul>
        <li>Arrows to move around</li>
        <li>Ctrl to use Power (moves faster for 1 sec)</li>
        <li>Spacebar to pause the game</li>
        <li>Spacebar or Enter to play again</li>
    </ul>
</div>