<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cave Explorer</title>
    <link rel="icon"
      href="images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>

  <div class="navbar">
      <a class="title" href="/{{paramString}}">
          <h1>Cave Explorer</h1>
      </a>
      {{#if soundOn}}
      <span class="toggle-sound sound-on">
          <img src="images/sound-on-white.svg" alt="">
      </span>
      {{else}}
      <span class="toggle-sound sound-off">
          <img src="images/sound-off-white.svg" alt="">
      </span>
      {{/if}}
      <a class="github" href="https://github.com/Ian021/caveexplorer">
        <img src="images/GitHub-Mark-Light-32px.png" alt="">
      </a>
      
  </div>

    {{{body}}}

  <script src="/index.js"></script>

</body>
</html>