
<div class="game-container">
    <div class="start-container">
        <h2 class="start-title">A long time ago...</h2>
        <div class="start-text">
            <p>
            You are an explorer going deep into a cave, but you forgot your rope and cannot get back. 
            As you go down, you will find hungry agressive monsters.
            Just go down hoping to find a safer place to wait for help...
            </p>
            {{>keyboardControls}}
        </div>
        <img class="start-image" src="/images/start.svg" alt="">
        <div class="start-form">
            <form action="/play" method="GET">
                <input class="form-text" type="text" placeholder="Explorer Name" required="true" name="explorer">
                <input type="text" name="soundOn" value="{{#if soundOn}}true{{else}}false{{/if}}" class="sound-on-form" hidden>
                <input class="form-button" value="Start!" type="submit">
            </form>
        </div>
    </div>

    {{>commandsInactive}}
</div>

<audio class="music" {{#if soundOn}}autoplay{{/if}} loop>
    <source src="/sound/01 - Opening.ogg">
</audio>