
{{>header}}

<div class="game-container">
    <div class="play-container">
        <canvas id="gameScreen"></canvas>
    </div>

    <div class="play-pause" onClick="pause()"></div>

    {{>commandsActive}}
</div>

{{>footer}}