
{{>header}}

<div class="game-container">
    <div class="play-container"></div>

    <div class="play-pause" onclick="pause()"></div>

    <div class="commands-container">
        <div class="commands-power"></div>
        <div class="commands-move">
            <div class="move-up"><img src="images/triangle-purple.svg" alt=""></div>
            <div class="move-down"><img src="images/triangle-purple.svg" alt=""></div>
            <div class="move-right"><img src="images/triangle-purple.svg" alt=""></div>
            <div class="move-left"><img src="images/triangle-purple.svg" alt=""></div>
            <div class="move-circle"></div>
        </div>
    </div>
    
</div>





{{>footer}}