
<div class="game-container">
    <div class="ranking-container">
        <h2 class="ranking-title">Game Over!</h2>
        <div class="ranking-display-left"></div>
        <div class="ranking-display-right"></div>
        <div class="ranking-play">
            <form action="/" method="POST">
                <input type="hidden" value="{{""}}">
                <input class="form-button" value="Play again!" type="submit">
            </form>
        </div>
    </div>

    {{>commandsInactive}}
</div>

<audio class="music" autoplay loop>
    <source src="/sound/20 - Game Over.ogg">
</audio>